.regContainer {
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #d6132c 50%, #161616 50%);
    height: 100vh;
    margin: 0;
    color: white;
}

#signupform {
    width: 40vw;
    text-align: center;


}
#fname, #lname, #email, #password, #password2 {
    width: 75%;
    margin: 0 auto;
    background-color: #2b2b2b;
    color: white;
}

.regButton {
    width: 75%;
    margin: 10px auto;
}

#signUp {
    margin: 10px;
}

.body {
    width: 100%;
    min-width: 100vw;
    
}